<div class="cont-top-bar">
    <div class="logo"></div>
    <p class="first-button section-button active">Overview</p>
    <p class="section-button">Campaigns</p>
    <p class="section-button">Analytics</p>
    <p class="right-button">Premium</p>
</div>