@import '../../../variables.scss'

.cont-top-bar
    display: flex
    align-items: center
    height: 70px
    .right-button
        margin-left: auto
        margin-right: 80px
        background-color: $dark-blue
        color: white
        width: 100px
        text-align: center
        border-radius: 5px
        padding: 10px
        cursor: pointer
        transition: 0.3s linear
        &:hover
            background-color: $middle-blue
            transition: 0.3s linear
    .section-button
        margin: 0 50px
        @media (max-width: 1224px)
            margin: 0 25px
        height: 70px
        text-align: center
        display: flex
        align-items: center
        position: relative
        transition: 0.3s linear
        cursor: pointer
        &::before
            content: ""
            height: 4px
            width: 100%
            position: absolute
            transition: 0.3s linear
            bottom: 0
            opacity: 0
        color: $dark-grey-font
        &:hover
            color: $middle-blue
            transition: 0.3s linear
            &::before
               opacity: 1
               transition: 0.3s linear
               background-color: $middle-blue 
        &.first-button
            @media (max-width: 1224px)
                margin-left: 140px
        &.active
            font-weight: bold
            color: $dark-blue
            &::before
                opacity: 1
                background-color: $dark-blue
    .logo
        width: 40px
        height: 40px
        border-radius: 50%
        background-color: $dark-blue
        margin-left: 30px
        margin-right: 200px
        @media (max-width: 1224px)
            margin-right: 0
            position: absolute
            left: 30px
            margin-left: 0