@import '../../../variables.scss'

.main-cont 
    background-color: white
    justify-content: space-between
    align-items: center
    border: 1px solid $border-grey
    height: 320px
    @media (max-width: 1724px)
        height: 480px
    padding: 0 40px
    display: flex
    .list-cont
        display: flex
        flex-direction: row
        flex-wrap: wrap
        width: 100%
        div
            display: flex
            flex-direction: row
            width: 100%
            p
                width: 50%
                margin: 15px 0
                text-align: center
                &.title
                    color: $dark-grey-font
                    text-transform: uppercase
                &.data
                    font-weight: bold
            