<div class="main-cont">
    <div class="list-cont">
        <div *ngFor="let data of arrayData">
            <p class="title">
                {{data.title}}
            </p>
            <p class="data">
                {{data.data}}
            </p>
        </div>
    </div>
</div>