@import '../../../variables.scss'

.side-bar-cont 
    height: 100%
    width: 100px
    .side-bar-icons
        margin-top: 40px
        display: flex
        flex-direction: column
        align-items: center
    .icon 
        width: 100%
        height: 40px
        display: flex
        justify-content: center
        margin: 30px 0
        cursor: pointer
        &:hover svg
            transition: 0.3s linear
            fill: $middle-blue
        &.active
            position: relative
            &::after
               content: ''
               position: absolute
               right: 0
               top: -10px
               height: 60px
               width: 4px
               background: $dark-blue 
            svg
                fill: $dark-blue
        svg
            transition: 0.3s linear
            width: 30px
            fill: $dark-grey-font