<div class="side-bar-cont">
    <div class="side-bar-icons">
        <div class="icon active" [inlineSVG]="'../../../assets/svg/_ionicons_svg_md-analytics.svg'">
        </div>
        <div class="icon" [inlineSVG]="'../../../assets/svg/_ionicons_svg_ios-chatbubbles.svg'">
        </div>
        <div class="icon" [inlineSVG]="'../../../assets/svg/_ionicons_svg_ios-folder-open.svg'">
        </div>
        <div class="icon" [inlineSVG]="'../../../assets/svg/_ionicons_svg_md-archive.svg'">
        </div>
        <div class="icon" [inlineSVG]="'../../../assets/svg/_ionicons_svg_ios-settings.svg'">
        </div>
    </div>
</div>

