$height-top-bar: 70px
$width-side-bar: 100px

.main-scheme
    display: flex
    flex-direction: row
    flex-wrap: wrap
    app-top-bar
        width: 100vw
        border-bottom: 1px solid #ebedf8
        height: $height-top-bar
    app-side-bar 
        width: $width-side-bar
        height: calc(100vh - #{$height-top-bar})
        border-right: 1px solid #ebedf8
        display: inline-block
    .main-cont-scheme
        display: inline-block
        background-color: #fafbfc
        width: calc(100vw - (#{$width-side-bar} + 20px))
    