@import '../../../variables.scss'

.main-cont
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    flex-wrap: wrap
    .count-text
        margin: 5px
        color: $dark-grey-font
        .number-text
            color: black
            font-weight: bold
    .progress-bar
        width: 250px
        height: 6px
        background-color: $soft-grey-bar
        border-radius: 3px
        .complete 
            background-color: $dark-blue
            border-radius: 3px
            width: 70% // change to var
            left: 0
            z-index: 1
            height: 6px
