<div class="main-cont">
    <div class="progress-bar">
        <div class="complete">
        </div>
    </div>
    <p class="count-text"><span class="number-text">{{completedCount}}</span> insertions needed to complete</p>
</div>
