@import '../../../variables.scss'

.main-cont
    background-color: white
    border: 1px solid $border-grey
    padding: 0 40px
    height: 320px
    @media (max-width: 1724px)
        height: 480px
.box-title
    margin: 40px 0 30px 0
    font-weight: bold
.total-number-cont
    color: $dark-grey-font
    .total-number
        font-weight: bold
        font-size: 36px
        margin-right: 10px
        color: black
.charts-wrapper
    display: flex
    position: relative
.doughnut-wrapper
    position: absolute
    right: -40px
    width: 250px
    @media (max-width: 1024px)
        display: none
    @media (max-width: 1724px)
        right: -80px 
    svg
        height: 150px!important
.bars-chart
    display: flex
    flex-direction: row
    flex-wrap: wrap
    width: 70%
    @media (max-width: 1024px)
        width: 100%
    .bar-cont
        display: flex
        flex-direction: column
        justify-content: flex-end
        align-items: center
        .bar-elem.blue
            background-color: $dark-blue
        .bar-elem.pink
            background-color: $dark-pink
        &:nth-child(even) 
            .bar-elem.blue
                background-color: $soft-blue
            .bar-elem.pink
                background-color: $soft-pink
    p 
        color: $soft-grey-font
    .bar-elem
        height: 0px
        width: 12px
        margin: 0 6px
        border-radius: 3px
        position: relative
        
