<div class="main-cont">
    <p class="box-title">{{title}}</p>
    <p class="total-number-cont">
        <span class="total-number">{{totalData}}</span>Followers
    </p> 
    <div class="charts-wrapper">
        <div class="bars-chart">
            <div class="bar-cont" *ngFor="let bar of dataBars">
                <div [ngClass]="'bar-elem ' + color"  [style.height]="bar.total + 'px'">
                </div>
                <p>{{bar.text}}</p>
            </div>
        </div>
        <div class="doughnut-wrapper">
            <canvas baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                [options]="chartOptions"
                [colors]="color === 'blue' ? blueColors : pinkColors">
            </canvas>
        </div>
    </div>
</div>
