@import '../../../variables.scss'

.main-cont
    width: 100%
    background-color: white
    border: 1px solid $border-grey
    -ms-overflow-style: none
    @media (max-width: 1224px)
        overflow-x: auto
    &::-webkit-scrollbar 
        display: none
    
    .rows-cont
        min-width: 1024px
    .title
        margin-top: 40px
        margin-left: 40px
        font-size: 24px
        font-weight: bold
