<div class="main-cont">
    <p class="title">Support request</p>
    <div class="rows-cont">
        <app-table-row *ngFor="let data of tableData; let i = index" [row]="data" [index]="i"></app-table-row>
    </div>
</div>