
.main-cont
    padding: 40px
    width: calc(100% - 80px)
    display: inline-block
.title-row
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin-bottom: 25px
    h1 
        font-size: 24px
.metrics-row
    display: flex
    flex-direction: row
    flex-wrap: wrap
app-metrics-box
    width: 40%
    @media (max-width: 768px)
        width: 100%
    @media (min-width: 768px) and (max-width: 1224px)
        width: 50%
app-vars-box
    width: 20%
    @media (max-width: 1224px)
        width: 100%