<div class="main-cont">
    <div class="title-row">
        <h1>Data overview</h1>
        <app-pending-bar completedCount="344"></app-pending-bar>
    </div>
    <div class="metrics-row">
        <app-metrics-box color="blue" totalData="9403" [dataBars]="results" title="General results"></app-metrics-box>
        <app-metrics-box color="pink" totalData="3400" [dataBars]="results" title="Ratings by category"></app-metrics-box>
        <app-vars-box [arrayData]="arrayDataVarsTest"></app-vars-box>
    </div>
    <app-table-box [tableData]="users">
    </app-table-box>
</div>

