<div class="row-cont" [class.header-row]="index === 0">
    <ng-container *ngFor="let field of row; let i = index">
        <p [class]="'field ' + 'index-' + i" *ngIf="i !== 0" [class.status-field]="field === 'open' || field === 'sent'">
            <span [class.status-open]="field === 'open'" [class.status-sent]="field === 'sent'">{{field}}</span>
        </p>
    </ng-container>
</div>