@import '../../../../variables.scss'
.row-cont
    display: flex
    justify-content: space-around
    text-align: left
    align-items: center
    width: 100%
    margin-left: 20px
    &.header-row
        color: $soft-grey-font
        text-transform: uppercase
        font-size: 14px
        .index-1
            font-weight: normal!important

    .field
        width: 150px
        color: $dark-grey-font
        &.index-1
            font-weight: bold
            color: black
        &.status-field span
            border: 1px solid $dark-grey-font
            padding: 7px
            width: 50px
            display: block
            text-align: center
            text-transform: capitalize
            border-radius: 5px
            transition: 0.3s linear
            color: $dark-grey-font
            cursor: pointer
            &:hover
                transition: 0.3s linear
                color: white
                background-color: $middle-blue
            &.status-sent
                background-color: $dark-blue
                border: 1px solid $dark-blue
                color: white
                transition: 0.3s linear
                &:hover
                    transition: 0.3s linear
                    background-color: $middle-blue