// Common vars
$soft-blue: #b3d6ff;
$middle-blue: #53a3ff;
$dark-blue: #0077ff;
$soft-grey-bar: #edeff3;
$border-grey: #f0f0f0;
$soft-grey-font: #c0c5d2;
$dark-grey-font: #8a96a1;
$dark-pink: #f0166d;
$soft-pink: #f78ab6;